{{# each products}}
    Product!
{{/each}}
<div class="row">
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png"  alt="..." class="img-responsive">
            <div class="caption">
                <h3>thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ullam, totam, deserunt placeat laboriosam, temporibus hic voluptates quae autem excepturi et ex. Animi corrupti dolores ab iure totam eaque obcaecati.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-primary float-right" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png"  alt="..." class="img-responsive">
            <div class="caption">
                <h3>thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ullam, totam, deserunt placeat laboriosam, temporibus hic voluptates quae autem excepturi et ex. Animi corrupti dolores ab iure totam eaque obcaecati.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-primary float-right" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png"  alt="..." class="img-responsive">
            <div class="caption">
                <h3>thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ullam, totam, deserunt placeat laboriosam, temporibus hic voluptates quae autem excepturi et ex. Animi corrupti dolores ab iure totam eaque obcaecati.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-primary float-right" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>
    

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png"  alt="..." class="img-responsive">
            <div class="caption">
                <h3>thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ullam, totam, deserunt placeat laboriosam, temporibus hic voluptates quae autem excepturi et ex. Animi corrupti dolores ab iure totam eaque obcaecati.</p>
                <div class="clearfix">
                    <div class="price float-left">$12</div>
                    <a href="#" class="btn btn-primary float-right" role="button">Button</a>
                    </div>
                </div>
            </div>
        </div>
    



</div>
